certifi==2022.9.24
charset-normalizer==2.1.1
idna==3.4
instagrapi==1.16.30
Pillow==9.3.0
pycryptodomex==3.15.0
pydantic==1.10.2
PySocks==1.7.1
requests==2.28.1
typing_extensions==4.4.0
urllib3==1.26.13
bs4==0.0.1
fake-headers==1.0.2
openpyxl==3.0.10
plyer==2.1.0